entregables/entrega2/bd.json
entregables/entrega2/prueba.js
entregables/entrega3/node_modules
entregables/entrega3/justtext.txt
node_modules
package-lock.json

entregables/pre_entregas/pre_entrega1/node_modules