<div>
    {{productsStringify}}
</div>

<form id="form">
	<label for='title'>Title</label>
	<input class="spacing" type='text' name='title' id='title' />
    <label for='description'>Description</label>
    <input class="spacing" type='text' name='description' id='description' />
	<label for='price'>Price</label>
	<input class="spacing" type='number' name='price' id='price' />
    <label for='code'>Code</label>
    <input class="spacing" type='number' name='code' id='code' />
    <label for='stock'>Stock</label>
    <input class="spacing" type='number' name='stock' id='stock' />
    <label for='status'>Status</label>
    <select class="spacing" name="trueOrFalse" id="trueOrFalse" placeholder="status">
        <option value="true">true</option>
        <option value="false">false</option>
    </select>
    <label for='category'>Category</label>
    <input class="spacing" type='text' name='category' id='category' />
	<label for='price'>Thumbnail</label>
	<input class="spacing" type='text' name='thumbnail' id='thumbnail' />
	<input type='submit' value='submit' />
</form>

<form id="form2">
    <h3>Delete</h3>
	<label for='iden'>ID</label>
	<input class="spacing" type='number' name='iden' id='iden' />
    <input type='submit' value='delete' />
</form>

